{% layout 'layout.liquid' %}
{% block content %}
<div class="container-sm">
    <form action="/apods/{{apod.id}}?_method=PUT" method="POST" style="color: white;">
        <fieldset>
            <legend>Edit APOD</legend>
            <label class="form-label">Title: </label>
            <input 
                type="text" 
                name="title" 
                placeholder="{{ apod.title }}"
                value="{{ apod.title }}"
                class="form-control"
            >
            <label class="form-label">Explanation:</label>
            <input 
                type="text" 
                name="explanation" 
                placeholder="{{ apod.explanation }}" 
                value="{{ apod.explanation }}" 
                class="form-control"
            >
            <label class="form-label">Url:</label>
            <input 
                type="text" 
                name="url" 
                placeholder="{{ apod.url }}" 
                value="{{ apod.url }}" 
                class="form-control"
            >
            <label class="form-label">HDUrl:</label>
            <input 
                type="text" 
                name="HDurl" 
                placeholder="{{ apod.hdurl }}" 
                value="{{ apod.hdurl }}" 
                class="form-control"
            >
        </fieldset>
        <input type="submit" value="Edit Picture Entry" class="btn btn-outline-light edit" style="margin-top: 0.5rem;">
    </form>
</div>
{% endblock %}