{% layout 'layout.liquid' %}
{% block content %}
<div class="container-md show-display">
    <article class="article-show">
        <h1>{{ apod.title }}</h1>
        <img class="img-fluid img-display" src="{{apod.hdurl}}" alt="{{apod.title}}">
        <h6>Date: {{apod.date}}</h6>
        <form action="/apods/" method="POST" class="galaxy-form">
            <fieldset>
                <input
                    class="hidden"
                    name="date"
                    value="{{apod.date}}"
                >
                <input
                    class="hidden"
                    name="explanation"
                    value="{{apod.explanation}}"
                >
                <input
                    class="hidden"
                    name="hdurl"
                    value="{{apod.hdurl}}"
                >
                <input
                    class="hidden"
                    name="apod.media_type"
                    value="{{apod.media_type}}"
                >
                <input
                    class="hidden"
                    name="title"
                    value="{{apod.title}}"
                >
                <input
                    class="hidden"
                    name="url"
                    value="{{apod.url}}"
                >
            </fieldset>
            <input
                class="btn add-galaxy btn-outline-light"
                type="submit"
                value="Add to 'The Galaxy'"
            >
        </form>

        <p>{{apod.explanation}}</p>
        
        {% if apod.copyright %}
            <h6>Copyright: {{apod.copyright}}</h6>
        {% endif %}






        {%- comment -%} {% if apod.owner == userId %}
            <div class="btn-group">

                <a href="/apods/{{ apod.id }}/edit" class="btn btn-primary">Edit</a>
                <form action="/apods/{{ apod.id }}?_method=DELETE" method="POST">
                    <input type="submit" value="Delete" class="btn btn-danger">
                </form>
            </div>
        {% endif %} {%- endcomment -%}
    </article>
</div>
{% endblock %}